<p><a class="list-group-item btn hover-yellow-link" asp-area="customer" asp-controller="Project" asp-action="Index">Projects created by the customer
</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-area="customer" asp-controller="Project" asp-action="FreelancerApplyed">
    Projects selected by the freelancer
</a></p>
