<p><a class="list-group-item btn hover-yellow-link" asp-area="freelancer" asp-controller="Home" asp-action="Store">Store customer projects for freelancers</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-area="freelancer" asp-controller="Project" asp-action="FreelancerApplyed">List of approved client projects for freelancers</a></p>
