<p><a class="list-group-item btn hover-yellow-link" asp-area="Customer" asp-controller="Platform" asp-action="Index">Platforms</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Customer</a></p>
<p><a class="list-group-item btn hover-yellow-link" asp-area="Freelancer" asp-controller="Home" asp-action="Index">Freelancer</a></p>
